.loginpage {
    width: 100vw;
    height: 100vh;
    font-family: var(--font-family);
    font-size: var(--fontSize-login);
    background-color:  var(--color-mainmenu);
}
.logincontainer {
    width: 400px;
    padding: 1.5rem 4.3rem;
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
}
.loginforms {
    display: flex;
    flex-direction: column;
}
.loginforms__inputcontainer {
    width: 100%;
    padding: 0.4rem 0rem;
    border: 1px solid black;
    /* border-radius: 0.5rem; */
    box-shadow: 0 0px 3px black;
    display: flex;
    justify-content: center;
    position: relative;
}
.loginforms__input {
    padding: 0.2rem 0.5rem;
    width: 85%;
    border: none;
}
.loginforms__input:focus {
    border: none;
    outline: none;
}
.loginforms__label {
    position: relative;
    margin: 0.5rem 0px;
}
.loginforms__icon {
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
}
.logincontainer__title {
    padding: 0.8rem 0;
    font-size: var(--fontSizeHeader-login);
}
.logincontainer__text {
    text-align: right;
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    cursor: pointer;
}
.logincontainer__text:hover {
    text-decoration: underline;
}
.logincontainer__google {
    display: flex;
    justify-content: center;
    margin: 0.7rem;
}
.logincontainer__googleicon {
    width: 28px;
    height: 28px;
    color: var(--color-login);
    cursor: pointer;
    margin-left:5px;
}
.loginforms__username{
    padding: 0.6rem 0;
}
.loginforms__password {
    padding: 0.6rem 0;
    width: 30px;
    height: 30px;
}
.loginforms__text {
    margin-left: 10px;
}
.loginforms__labelcheckbox-check {
    position: absolute;
    left: 0%;
    top: 16%;
    height: 1.2rem;
    width: 1.2rem;
}
.loginforms__checkbox {
    appearance: none;
    height: 1.2rem;
    width: 1.2rem;
    border: 1px solid black;
}
.loginforms__checkbox:checked {
    background-color: var(--color-login);
}
.logincontainer__newaccount {
    text-align: center;
    color: black;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}
.logincontainer__newaccount-underline:hover {
    text-decoration: underline;
}
@media screen and (max-width: 550px) {
    .loginpage {
        font-size: var(--fontSize-login-mobile);
    }
    .logincontainer__title {
        font-size: var(--fontSizeHeader-login-mobile);
    }
    .logincontainer {
        width: 85%;
        padding: 1rem;
    }
}

