.loginpage {
    width: 100vw;
    height: 100vh;
    font-family: var(--font-family);
    font-size: var(--fontSize-login);
    background-color:  var(--color-mainmenu);
}
.logincontainer {
    width: 400px;
    padding: 1.5rem 4.3rem;
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
}

.logincontainer__title {
    padding: 0.8rem 0;
    font-size: var(--fontSizeHeader-login);
}
.logincontainer__text {
    text-align: right;
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    cursor: pointer;
}
.logincontainer__text:hover {
    text-decoration: underline;
}
.logincontainer__google {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0.7rem;
}
.logincontainer__googleicon {
    position: absolute;
    width: 28px;
    height: 28px;
    top:-5%;
    left: 62.5%;
    color: var(--color-login);
    cursor: pointer;
    transition: 0.2s;
}
.logincontainer__googleicon:hover {
    color: var(--color-login-hover);
}

.logincontainer__newaccount {
    text-align: center;
    color: black;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}
.logincontainer__newaccount-underline:hover {
    text-decoration: underline;
}
@media screen and (max-width: 550px) {
    .loginpage {
        font-size: var(--fontSize-login-mobile);
    }
    .logincontainer__title {
        font-size: var(--fontSizeHeader-login-mobile);
    }
    .logincontainer {
        width: 85%;
        padding: 1rem;
    }
}

