.home__navbar {
    padding: 0.5rem 2.5rem;
    cursor: pointer;
    font-family: var(--font-family);
    font-size: var(--fontNav-size);
    border-radius: 15px;
    color: var(--color-text);
    border: 1px solid var(--color-border);
    transition: 0.25s;
    margin:10px;
}
.home__menu, .home__leaderboard, .home__rank {
    cursor: pointer;
    font-family: var(--font-family);
    font-size: var(--fontNav-size);
    color: var(--color-text);
    border: 1px solid var(--color-border);
    transition: 0.25s;
}
.home__menu {
    padding: 1.4rem 0rem;
    margin:2vh;
    border-radius: 30px;
    width: 40%;
}
.home__rank, .home__leaderboard {
    padding: 1.3rem 0rem;
    margin: 2vh 0px;
    width: 40%;
}
@media screen and (max-width: 810px) {
    .home__menu, .home__leaderboard, .home__rank {
        font-size: var(--fontBoard-tablet-size);
    }
    .home__menu {
        width: 45vw;
    }
    .home__rank, .home__leaderboard {
        width: 40vw;
    }
    
}
@media screen and (max-width: 450px) {
    .home__menu, .home__leaderboard, .home__rank {
        font-size: var(--fontBoard-mobile-size);
    }
    .home__menu {
        width: 45vw;
    }
    .home__rank, .home__leaderboard {
        width: 40vw;
    }
    
}