.modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal__overlay { 
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    opacity: 0.5;
}
.modal__content {
    height: 200px;
    position: absolute;
    background-color: white;
    opacity: 1;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.modal__generatecode {
    padding: 0.3rem;
    margin-bottom: 20px;
}
.modal__text {
    font-size: 1.4rem;
}