  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}
.links {
    text-decoration: none;
    color: var(--color-text)
}
:root {
    --font-family: 'Outfit', sans-serif;
    --color-navbar: #233448;
    --color-mainmenu: rgb(16,30,39);
    --color-text: #fff;
    --color-text-hover: rgb(16,30,39); 
    --color-border: #000;
    --color-maincontainer: rgb(46,62,71);
    --color-textwin: green;
    --color-textlose: red;
    --color-textdraw: gray;
    --color-scroll: #A9BECA;
    --color-backlight: rgb(120, 137, 147);
    --color-popup: rgb(120, 137, 147,0.8);
    --color-sidebar: rgba(16,36,47,0.8);
    --color-login: #FDA955;
    --color-login-hover: #D36D09;
    --color-login-text: #391C00;
    --fontSize-login: 1.2rem;
    --fontSizeHeader-login: 2rem;
    --fontSize-login-mobile: 0.8rem;
    --fontSizeHeader-login-mobile: 1.5rem;
    --fontSize-alert: 0.9rem;
    --fontBoard-size: 1rem;
    --fontBoard-tablet-size: 1rem;
    --fontBoard-mobile-size: 0.8rem;
    --fontNav-size: 1.1rem;
    --fontNav-mobile-size: 1.3rem;
    --fontHeader-size: 2rem;
    --fontHeader-tablet-size: 1.7rem;
    --fontHeader-mobile-size: 1.5rem;
    --font-popup-size: 1rem;
}