.home__navbar {
    padding: 0.5rem 2.5rem;
    cursor: pointer;
    font-family: var(--font-family);
    font-size: var(--fontNav-size);
    border-radius: 15px;
    color: var(--color-text);
    border: 1px solid var(--color-border);
    transition: 0.25s;
    margin:10px;
}
.home__menu {
    padding: 1.5rem 0rem;
    margin:20px;
    border-radius: 30px;
    width: 45%;
    cursor: pointer;
    font-family: var(--font-family);
    font-size: var(--fontNav-size);
    color: var(--color-text);
    border: 1px solid var(--color-border);
    transition: 0.25s;
}
.home__rank, .home__leaderboard {
    padding: 1.5rem 0rem;
    /* margin:20px; */
    /* border-radius: 30px; */
    width: 45%;
    cursor: pointer;
    font-family: var(--font-family);
    font-size: var(--fontNav-size);
    color: var(--color-text);
    border: 1px solid var(--color-border);
    transition: 0.25s;
}
/* .home__leaderboard {
    padding: 1.5rem 0rem;
    margin:20px;
    width: 45%;
    cursor: pointer;
    font-family: var(--font-family);
    font-size: var(--fontNav-size);
    color: var(--color-text);
    border: 1px solid var(--color-border);
    transition: 0.25s;
} */