.board {
    width: 90%;
    margin: auto;
    position: relative;
}
.board__data {
    max-height: 22vh;
    overflow-y:hidden;
}
.board__data:hover {
    overflow-y: auto;
}
.board__data::-webkit-scrollbar {
    width: 10px;
}
.board__data::-webkit-scrollbar-track {
    border-radius: 10px;
}
.board__data::-webkit-scrollbar-thumb {
    background-color: var(--color-scroll);
    border-radius: 10px;
}  
.board__description, .board__playerdata {
    color: var(--color-text);
    font-family: var(--font-family);
    font-size: var(--fontBoard-size);
    position: relative;
    width: 80%;
    margin: auto;
    z-index: 1;
}
.board__description.board__description-leaderboard ,.board__playerdata.board__playerdata-leaderboard {
    display: grid;
    grid-template-columns: 13% 40% 30% auto;

}
.board__description.board__description-rankboard , .board__playerdata.board__playerdata-rankboard {
    display: grid;
    grid-template-columns: 13% 80% auto;
}
.board__description {
    margin-bottom: 2vh;
}
.board__playerdata {
    margin-bottom: 2vh;
}
.board__playerdata:hover {
    background-color: var( --color-backlight);
    padding: 0px 5px;
    border-radius: 10px;
}
.board__stats {
    display: flex;
}
.board__playerdata-slash {
    color: var(--color-text);
}
.board__playerdata-wins {
    color: var(--color-textwin)
}
.board__playerdata-loses {
    color: var(--color-textlose);
}
.board__playerdata-draws {
    color: var(--color-textdraw);
}
@media screen and (max-height:750px) {
    .board__data {
        max-height: 16vh;
    }
}
@media screen and (max-height:680px) {
    .board__data {
        max-height:10.3vh;
    }
}
@media screen and (max-width: 810px) {
    .board__description, .board__playerdata {
        font-size: var(--fontBoard-tablet-size);
    }
}
@media screen and (max-width: 450px) {
    .board__description, .board__playerdata {
        font-size: var(--fontBoard-mobile-size);
    }
}