.header{
    width: 100%;
    min-height: 80px;
    background-color: var(--color-navbar);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__title {
    height: 100%;
    margin-left: 6%;
}
.header__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-right: 6%;
}
.header__text {
    font-family: var(--font-family);
    font-size: var(--fontNav-size);
    color: var(--color-text);
    cursor: pointer;
    padding: 5px;
    margin: 10px;
    transition: 0.25s;
}
.header__text:hover {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--color-text-hover);
}
.header__text-title:hover {
    background-color: var(--color-navbar);
}
.header__text-title {
    background-color: var(--color-navbar);
    font-size: var(--fontHeader-size);
}
.icons { 
    display: none;
}
.topnav {
    display: none;
}
@media screen and (max-width: 810px) {
    .header {
        min-height: 80px;
    }
    .header__text {
        font-size: var(--fontNav-mobile-size);
        margin: 1.1rem 0px;
    }
    .header__text-title {
        font-size: var(--fontHeader-tablet-size);
    }
    .header__buttons {
        display: none;
    }
    .icons {
        display: inline;
        width: 30px;
        height: 30px;
        color: var(--color-text);
        margin-right: 20px;
    }
    .icons__close {
        width: 40px;
        height: 40px;
    }
    .topnav {
        display: block;
        position: absolute;
        top:80px;
        width: 50%;
        right: 0px;
        text-align: center;
        background-color: var(--color-sidebar);
    }
    .topnav-active {
        
    }
    .topnav-inactive {
        display: none;
    }
}
@media screen and (max-width: 450px) {
    .header__text-title {
        font-size: var(--fontHeader-mobile-size);
    }
}
